---
import GradientText from "@/components/animations/GradientText";
---

<section
  class="flex flex-col items-center justify-between w-full md:min-h-screen md:flex-row mt-8 md:mt-0 gap-8"
>
  <div class="flex flex-col justify-center md:w-1/2 ml-8 mr-8 md:mr-0 mb-4 md:mb-12">
    <GradientText
      colors={["#833AB4", "#BE2C6A", "#FD1D1D", "#FD6631", "#FCB045"]}
      animationSpeed={3}
      showBorder={false}
      className="custom-class text-2xl md:text-4xl mb-14 font-bold"
    >
      Bienvenido a Fonsol Group
    </GradientText>
    <!-- <div class="flex flex-col justify-center md:w-1/2 ml-8 mr-8 md:mr-0">
      <TextPressure
        client:load
        text="Bienvenido"
        fontFamily="Compressa VF"
        fontUrl="https://res.cloudinary.com/dr6lvwubh/raw/upload/v1529908256/CompressaPRO-GX.woff2"
        width={true}
        weight={true}
        italic={true}
        alpha={false}
        flex={true}
        stroke={true}
        scale={false}
        textColor="#ffffff"
        strokeColor="#226f2c"
        className="custom-text"
        minFontSize={20}
      />
    </div> -->
    <h1
      class="text-4xl md:text-6xl xl:text-7xl font-semibold text-gray-800 dark:text-white"
    >
      Elegancia y resistencia en tu Cocina!
    </h1>
    <p class="text-white text-sm mt-4 md:text-xl">Contamos con envios a todo el pais</p>
    <a
      href="#productos"
      class="mt-6 px-6 py-3 max-w-fit text-white bg-[#262626] rounded-md hover:bg-emerald-700 transition"
    >
      Ver Productos
    </a>
  </div>

  <div class="w-fit md:h-screen">
    <img
      src="/momentaneo.png"
      alt="Hero Image"
      class="object-cover size-full mask-b-from-50% mask-b-to-90% opacity-80"
      loading="lazy"
    />
  </div>
</section>
