---
import Image from "astro/components/Image.astro";
import momentaneo from "public/momentaneo.png";
import SplitText from "@/components/animations/SplitText";
---
<section
  class=" flex flex-col items-center justify-between w-full md:min-h-screen md:flex-row py-8 md:py-0 gap-8 mask-b-from-70% mask-b-to-95% 2xl:w-[90%] 2xl:mx-auto"
>
  <div
    class="flex flex-col justify-center md:w-1/2 ml-8 mr-8 md:mr-0 mb-4 md:mb-12 my-8"
  >
  <h2 class="welcome-text relative w-fit text-lg md:text-3xl mb-14 font-semibold text-[var(--color-primary)] animate-fade-in-up animate-delay-400">Bienvenido a Fonsol Group</h2>
    <!-- <div class="flex flex-col justify-center md:w-1/2 ml-8 mr-8 md:mr-0">
      <TextPressure
        client:load
        text="Bienvenido"
        fontFamily="Compressa VF"
        fontUrl="https://res.cloudinary.com/dr6lvwubh/raw/upload/v1529908256/CompressaPRO-GX.woff2"
        width={true}
        weight={true}
        italic={true}
        alpha={false}
        flex={true}
        stroke={true}
        scale={false}
        textColor="#ffffff"
        strokeColor="#226f2c"
        className="custom-text"
        minFontSize={20}
      />
    </div> -->
    <SplitText
      client:idle
      text="Elegancia y resistencia en tu Cocina!"
      className="text-4xl md:text-6xl xl:text-7xl font-semibold text-gray-800 dark:text-white"
      delay={40}
      animationFrom={{ opacity: 0, transform: "translate3d(0,50px,0)" }}
      animationTo={{ opacity: 1, transform: "translate3d(0,0,0)" }}
      easing="easeOutCubic"
      threshold={0.2}
      rootMargin="-50px"
    />
    <p class="text-black text-sm mt-4 md:text-xl">
      Contamos con envios a todo el pais
    </p>
    <div
      class="mt-6 px-4 md:px-6 py-3 text-sm max-w-fit text-white bg-[var(--color-primary)] rounded-md hover:bg-emerald-700 transition justify-center items-center flex gap-1 animate-fade-in-right animate-delay-400"
    >
      <a href="#productos"> Ver Productos </a>
      <iconify-icon icon="mingcute:down-line" class="text-white text-xl"
      ></iconify-icon>
    </div>
  </div>

  <div class="md:h-screen flex justify-center 2xl:w-1/2 animate-fade-in animate-delay-500">
    <Image
      src={momentaneo}
      alt="Hero Image"
      class="object-cover"
    />
  </div>
</section>
